<section class="section">
    <div class="hero-body">
        <img src="./images/task.png" alt="Crisp home office">
    </div>
</section>

<section class="section">
    <form action="/tasks" method="POST">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input" type="hidden" name="user_id" value=1>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input"type="text" name="task_title" placeholder="Task Name">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" name="task_details" placeholder="Task details...">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" name="category" placeholder="Category...">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input" type="date" name="due_date" placeholder="Due date?">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <div class="select is-success">
                            <select type="boolean" name="task_status">
                                <option value="False">Not Completed</option>
                                <option value="True">Completed</option>
                            </select>
                        </div>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <button class="button is-success" type="submit">Add Task</button>
                    </p>
                </div>
            </div>
        </div>
    </form>
</section>
