<section class="section">
    <div class="hero-body">
        <img src="./images/signup.png" alt="Crisp home office">
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title">
            <strong>Yet ANOTHER To-Do List</strong> allows you to create, complete and compare to-do lists. Sign up required!
        </h2>
    </div>
</section>

<section class="section">
    <form action="/signup" method="POST" class="form">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <p class="control">
                    <input class="input" type="text" name="name" placeholder="Full Name">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                    <input class="input" type="email" name="email" placeholder="Email">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                    <input class="input" type="password" name="password" placeholder="Password">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                    <button class="button is-success" type="submit">
                        Sign Up
                    </button>
                    </p>
                </div>
            </div>
        </div>
    </form>
</section>